<% provide(:title, "Log in") %>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="title-logo">
            <h1>-Log in-</h1>
        </div>

        <%= form_for(:session, url:login_path) do |f| %>
<%# これでparams[:session][:email]
    params[:session][:password]となりハッシュで取り出せる %>
        <div class="form">
            <div class="field">
                <%= f.label :email %>
                <%= f.email_field :email %>
            </div>

            <div class="field">
                <%= f.label :password %>
                <%= f.password_field :password %>
            </div>

            <div class="actions">
                <%= f.submit "ログイン"%>
            </div>

            <p><%= link_to "新しいアカウントを作成する" ,signup_path %></p>
        <% end %>
        </div>
    </div>
</div>
