<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-4">
    <div class="user-page">
      <div class="user-info>">
        <%= paginate @micropost  %>
        <h1>
          <%= image_tag "default.png" ,alt: "default", class:"default-image", size: "60x60" %> 
          <%= @user.name %>
        </h1>
        </div>
        
        <div class="col-md-8">
        <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @micropost %>
        </ol>
        <% end %>
        </div>
        <%= paginate @micropost %>
    </div>
  </div>
</div>