    <%= form_for @micropost do |form| %>
        <div class="form">
            <div class="field">
                <%= form.label :title %>
                <%= form.text_field :title %>
            </div>

            <div class="field">
                <%= form.label :content %>
                <%= form.text_field :content %>
            </div>

            <div class="field">
                <%= form.label :category_id %>
                <%= form.collection_select :category_id, Category.all, :id, :name %>
            </div>

            <div class="field">
                <%= form.label :status %>
                <%= form.select :status, Micropost.statuses_i18n.invert %>
            </div>

            <div class="field">
                <%= form.label :create_on ,"期限" %>
                <%= form.date_select :create_on , use_month_numbers: true%>
            </div>
            <div class="field">
                <%= form.label :priority ,"優先度" %>
                <%= form.select :priority, Micropost.priorities_i18n.invert %>
                
            </div>

            <div class="actions">
                <%= form.submit "作成"%>
            </div>
            <% end %>
        </div>