
<div class="search">
    <%= search_form_for @search  do |f| %>
        <div class="form-group">
            <%= f.label :title_cont, "タイトル" %>
            <%= f.search_field :title_cont, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :status, "進捗度" %>
            <%= f.select :status_in,Micropost.statuses_i18n.invert, :include_blank =>'指定なし' %>
        </div>

        <div class="form-group">
            <%= f.label :priority , "優先度" %> 
            <%= f.select :priority_in, Micropost.priorities_i18n.invert, :include_blank => '指定なし' %>
        </div>
                    <div class="form-group">
            <%=f.label :create_on, "期限" %> 
            <%= f.date_field :create_on_in %>
        </div>
        <div class="actions">
            <%= f.submit "検索" %>
        </div>
    <% end %>
</div>
<div class="micropost">
    <table class="table table-condensed">
        <tr>
            <th>タイトル</th>
            <th>内容</th>
            <th>進捗度</th>
            <th><%= sort_link(@search,:create_on,"期限") %></th>
            <th>優先度</th>
            <th>tag</th>
        </tr>

        <% @micropost.each do |micropost| %>
        <tr>
            <td><%= micropost.title %></td>
            <td><%= micropost.content %></td>
            <td><%= micropost.status %></td>
            <td><%= l micropost.create_on, format: :dot %></td><%# 頭のlを追加してformatを設定したら簡単に/とか入れられる .ja.ymlに定義する%>
            <td><%= micropost.priority %></td>
            <td><%= render 'microposts/tag',tag_list: micropost.tag_list %></td>
            <td><%= link_to "削除" ,micropost ,method: :delete, data: { confirm:"Are you sure?"} %></td>                    
        </tr>
        <% end %>
    </table>
<p><%= link_to "Back", microposts_path %></p>
</div>
