<% provide(:title ,"Task一覧") %>
<h1><%= link_to "Task一覧" ,microposts_path %> </h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="search">
        <%= form_tag microposts_path, :method => 'get' do %>
            <p>
                <%= text_field_tag :search ,params[:search] %>
                <%= submit_tag "Search"  %>
            </p>
        <% end %>
<%# ransack版 %>
        <%= search_form_for @search  do |f| %>
            <div class="form-group">
                <%= f.label :title_cont, "title" %>
                <%= f.search_field :title_cont, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :status, "status" %>
                <%= f.select :status_in,Micropost.statuses.keys %>
            </div>

            <div class="form-group">
                <%= f.label :category %> 
                <%= f.collection_check_boxes :category_id_in, @category,:id ,:name  %>
            </div>
            <div class="actions">
                <%= f.submit "Search" %>
            </div>
        <% end %>

    </div>
    <div class="micropost">
        <table class="table table-condensed">
            <tr>
                <th>title</th>
                <th>content</th>
                <th>category</th>
                <th>status</th>
                <th>limit</th>
                <th>priority</th>
            </tr>
            <% @micropost.each do |micropost| %>
            <tr>
                <td><%= micropost.title %></td>
                <td><%= micropost.content %></td>
                <td><%= micropost.category_id %></td>
                <td><%= micropost.status %></td>
                <td><%= micropost.create_on %></td>
                <td></td>
                <td><%= link_to "編集" ,edit_micropost_path(micropost.id) %></td>
                <td><%= link_to "削除" ,micropost ,method: :delete, data: { confirm:"Are you sure?"} %></td>                    
                        
            </tr>
            <% end %>
        </table>
    </div>
  </div>
</div>

