<% provide(:title ,"Task一覧") %>
<h1>Task一覧</h1>
<div class="micropost">
    
    <% @micropost.each do |micropost| %>
    <ul>
    
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><%= micropost.title %></h3>
            </div>
            <div class="panel-body">
                <p><%= micropost.content %></p>
                <p><%= micropost.category.name %></p>
                <p><%= micropost.status %></p>
                <%= link_to "編集" ,edit_micropost_path(micropost.id) %>
                <%= link_to "削除" ,micropost ,method: :delete, data: { confirm:"Are you sure?"} %>
            </div>
        </div>
    </ul>
  <% end %>
</div>

