<header>
<h1><%= link_to "Task", root_path %></h1>
    <nav>
        <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Sign up", signup_path  %></li>
             <%# if文でloginしたらuser_setting画面とかにいくようにする %>
             <% if logged_in? %>
             <li><%= link_to "My account" ,current_user %></li>
             <li><%= link_to "Setting" ,"#" %></li>
             <li><%= link_to "Log out" , logout_path ,method: :delete %></li>
             <% else %>
            <li><%= link_to "Log in", login_path %></li>
            <% end %>
        </ul>

    </nav>
</header>